<article class="card my-3">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="anonymous">
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin="anonymous"></script>
    <h3 class="card-header">Map View</h3>
    <div class="card-body p-0">
        <div id="map_canvas" style="height:50vh;"></div>
        <script>
            const map = L.map("map_canvas");
            const centre = L.latLng(0, 0);
            map.setView(centre, 8);
            const layer = new L.TileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {});
            map.addLayer(layer);
            const bounds = L.latLngBounds(centre);

            /*
            % for vkey, vpn in vpns.items():
                % if "sessions" in vpn:
                    bounds.extend(centre);
                    % for skey, session in vpn["sessions"].items():
                        % if "longitude" in session and "latitude" in session:
                            var latlng = new L.latLng({{ session["latitude"] }}, {{ session["longitude"] }});
                            bounds.extend(latlng);
                            var client_marker = L.marker(latlng).addTo(map);
                            var client_popup = L.popup().setLatLng(latlng);
                            client_popup.setContent("{{ session["username"] }} - {{ session["remote_ip"] }}");
                            client_marker.bindPopup(client_popup);
                        % end
                    % end
                % end
            % end

            map.fitBounds(bounds);
            */
        </script>
    </div>
</article>
